{% extends "base.html" %}

{% block title %}Login | EduAgent{% endblock %}

{% block content %}

<div class="login-page">

    <div class="container">

        <div class="row min-vh-100 align-items-center">

            <!-- Left Side -->
            <div class="col-lg-6 text-center d-none d-lg-block">

                <i class="bi bi-robot login-robot"></i>

                <h1 class="mt-4 fw-bold">
                    Learn Smarter with AI
                </h1>

                <p class="text-muted fs-5">
                    Your personal AI learning companion.
                </p>

            </div>

            <!-- Right Side -->
            <div class="col-lg-5 mx-auto">

                <div class="login-card">

                    <h2 class="text-center mb-2">
                        Welcome Back 👋
                    </h2>

                    <p class="text-center text-muted mb-4">
                        Login to continue learning.
                    </p>

                    <form method="POST" action="/login">

                        <div class="mb-3">

                            <label class="form-label">
                                Email
                            </label>

                            <input
                              type="email"
                              name="email"
                              class="form-control"
                              placeholder="Enter your email"
                              required>

                        </div>

                        <div class="mb-4">

                            <label class="form-label">
                                Password
                            </label>

                              <input
                               type="password"
                                name="password"
                                class="form-control"
                             placeholder="Enter your password"
                              required>

                        </div>

                        <button class="btn btn-primary w-100">
                            Login
                        </button>

                    </form>

                    <hr>

                    <p class="text-center">

                        Don't have an account?

                        <a href="/register">
                            Create Account
                        </a>

                    </p>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}